.body_section{
    padding: 20px;
    position: relative;
    display: flex;
    height: 500px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.headings{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 10px 0px 20px;
}

.headings p{
    margin: 0px;
    padding: 0px;
}

.f_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.f_container .textbox{
    border: 1px solid #663399;
    width: 100%;
    border-radius: 4px;
    height: 2rem;
    padding-left: 8px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}


.f_container .desc_box{
    border: 1px solid #663399;
    width: 100%;
    border-radius: 4px;
    padding: 8px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.caption{
    text-transform:uppercase;
    width: 100%;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.button{
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: #663399;
    color: #fff;
    border: 0px;
}

.button:hover{
    border: 2px solid #663399; 
    background-color: transparent;
    color: #663399;
}

.f_container p{ 
    font-size: 0.9rem;
    margin-top: 10px;
}
.f_container a:hover{ 
     color: #663399 !important;
    cursor: pointer;
    font-weight: bold;
}

