 :root{
    --pcolor:hsla(350,70%,50%,1);
    --pcolordark:hsla(350,70%,35%,1);
    --pcolordarker:hsla(350,70%,30%,1);
    --scolor:hsla(43,90%,50%,1);
    --success_color:rgb(0,255,0,1);
}
 
input[type=text],.desc_box{
    border: 1px solid var(--pcolor);
    border-radius: 4px;
    height: 2.4rem;
    padding: 8px;
    font-size: 0.9rem;
}

input[type=text]:focus,.desc_box:focus{
    box-shadow:0px 0px 5px 0px var(--pcolor);
    outline: 0px;
}


.body_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 650px;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
  
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.heading h1{
    letter-spacing: 1px;
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    margin: 0px;
    color: var(--pcolor);
    margin: 0px;
}

.fcontainer{
    padding: 20px;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
/*    border: 1px solid var(--pcolor);*/
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
}
 
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.desc_box{
    min-height:100px; 
    min-width: 100%;
}

.fcontainer .w100{
    width: 100%;
}


.fcontainer .caption{
    width: 100%;
    line-height: 2rem;
}



.button{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 120px;
    font-size: var(--button_font_size);
    height: 40px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: var(--pcolor);
    color: #fff;
    border: 0px;
}
.button:hover{
    border: 2px solid var(--pcolor); 
    background-color: transparent;
    color: var(--pcolor);
}
.button:focus{
    outline: 0px;
}


