
/*Resetting*/

*::after,
*::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*{ 
    box-sizing: border-box;
}

                    /*Global*/

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

body,p{
    margin: 0px;
    padding: 0px;
} 


 :root{
    --pcolor:hsla(350,70%,50%,1);
    --pcolordark:hsla(350,70%,35%,1);
    --pcolordarker:hsla(350,70%,30%,1);
    --scolor:hsla(43,90%,50%,1);
    --success_color:rgb(0,255,0,1);
}


body{
    position: relative;
    display: flex;
    width: 100%;
    height: 450px;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
  


.f_container{
    
    display: flex;
    margin-top: 30px;
    align-items: center;
    width: 350px;
    max-width: 500px;
/*    border: 1px solid var(--pcolor);*/
    border-radius: 10px;
    overflow: hidden;
    
}

.lefthalf{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}


.rightHalf{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
 
.pro_title{
    display: flex;
    justify-content: flex-start;
    
    align-items: center;
    height: 50px;
    font-size: 1.3em;
/*    font-weight: bold;*/
    width: 100%;
}
.pro_price{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 1.5em;
    align-items: center;
    height: 50px;
    color: var(--pcolor);
    width: 100%;
}
.pro_desc{
    display: flex;
    justify-content: flex-start;
    font-size: 0.9em;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}
.row{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--pcolor);
    color: #fff;
    border: 2px;
}

.button:hover{
    border: 2px solid var(--pcolor); 
    background-color: transparent;
    color: var(--pcolor);
}
.button:focus{
    outline: 0px;
}


