/*Global*/
:root{
    --pcolor:hsla(350,70%,50%,1);
    --pcolordark:hsla(350,70%,35%,1);
    --pcolordarker:hsla(350,70%,30%,1);
    --scolor:hsla(43,90%,50%,1);
    --success_color:rgb(0,255,0,1);
}

        /*Cover section*/
.cover_section{
    position: relative;
    height: 500px;
    padding-top: 50px;
    display: flex;
    width: 100%;
    background-color: crimson;
}
.cover_image{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("/new/Images/cover_low.jpg")
    ;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}
.c_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 393px;
    height: 240px;
    justify-content: space-between;
    align-items: center;
/*    background-color: crimson;*/
}

.c_upper{
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
/*    background-color: blue;*/
    justify-content: center;
}
.c_upper h1{
    font-size: 3rem;
    color: #FFFFFF;
    font-family: 'lobster',cursive;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    padding: 0px;
    margin: 6px;
/*    background-color: blueviolet;*/
}
.c_upper p{
    text-align: center;
    font-size: 1rem;
}

.c_lower{
    width: 320px;
/*    background-color: green;*/
}

.buttons_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
/*    background-color: chartreuse;*/
}
.buttons_container a{
    text-decoration: none;
}


.c_button{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    height: 40px;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.c_button:focus{
    outline: 0px;
}

.signin_button{
    background-color: var(--scolor);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
    border: 2px solid var(--scolor);
}
.signin_button:hover{
    background-color: var(--pcolor);
    border-color: var(--pcolor);
}
.signin_button:hover > p{
    color:#fff ;
}

.login_button {
    background-color: rgba(40,40,40,0.6);
    border: 2px solid var(--scolor);
}
.login_button p{
    color:var(--scolor);
}
.login_button:hover{
    border-color: var(--success_color);
}
.login_button:hover > p{
    color: var(--success_color);
    text-decoration: none;
}

.last{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.last p a{
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
}
.last p a:hover{
    color:var(--pcolor);
}

.wave_container{
    position: absolute;
    bottom: 0px;
    height: 70px;
    left: 0px;
/*    background-color: aqua;*/
    width: 100%;
}
.wave_container img{
    width: 100%;
    height: 70px;
/*    background-color: blue;*/
}

        /*Search tab*/

.searchbox_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: var(--pcolor);
/*    background-color: aqua;*/
}

.outer{
    padding: 17.5px;
    height: 70px;
    width: 90%;
    max-width: 450px;
    border-radius: 35px;
    background-color: var(--pcolordark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.searchbar .search_text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0px 10px;
    letter-spacing: 1px;
    height: 100%;
    color:var(--pcolor);
    border-radius: 35px 0px 0px 35px;
    border: 0px solid #fff;
}

.searchbar .searchbox_container{
    display: flex;
    flex: 1;
    height: 100%;
    border: 0px solid #fff;
    margin-right: 20px;
    border-radius: 0px 35px 35px 0px;
    overflow: hidden;
}

.searchbox_container .searchbox{
    width:100%;
    height: 100%;
    border: 0px ;
    padding-right:9px;
    font-size: 0.9rem;
}

.searchbox_container .searchbox:focus{
    outline: 0px;
}

.searchbar .search_icon_container{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
    border: 0px;
}
.search_icon_container:hover  .search_icon{
   transform: rotate(45deg);
}
.search_icon{
    background-image: url("/new/Icons/search.svg");
    fill:#fff;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform 400ms; 
}

                  /*Categories*/
.categories_section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1200px;
    flex-direction: column;
    background:linear-gradient(var(--pcolor),var(--pcolordark))
}

.categories_section .ct_header{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    font-weight: bold;  
    font-size: 1.4rem;
    color: #fff;
    height: 60px;
/*  background-color: yellow;  */
}

.ct_container{
    display: grid;
    width: 100%;
    height: 100%;
    
    grid-template-columns: 150px 150px;
    grid-template-rows:190px 190px 190px 190px 190px;

    justify-items:center;
    align-items:center;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.thumbs{
    position: relative;
    display: flex;
    width:  150px;
    height: 190px;
    border-radius: 8px ; 
    overflow: hidden;
    flex-direction: column;
    box-shadow:0px 0px 15px 0px rgba(0,0,0,0.4);
}

/*
.thumbs:hover{
    transform: scale(1.03);
    transition: 100ms ease-in-out;
}
*/

.image_container{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease ;
}
.image_container .thumb_background{
    width: 100%;
    height: 100%;
}


.t_button{
    position: absolute;
    font-size: 0.9rem;
    display: flex;
    bottom: 0px;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: inherit;
    background-color: var(--pcolor);
    transition: all 0.8s ease ;
    z-index: 2;
}

.inner_span{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 120%;
    height: 40px;
    background-color: #fff;
    transition: 1s ease ;
    z-index: -1;
    color: #000;
}

.thumbs:hover .t_button{
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    font-size: 1.3rem;
}

.thumbs:hover .t_button .inner_span{
    transform: rotate(-10deg);
    height: 70px;
}

.thumbs:hover .image_container{
/*    transition: 3s ease ;*/
    transform: translateY(40px) scale(1.6);
}


/*Resposive*/

@media only screen and (min-width: 600px) {
    .categories_section{
    height: 780px;
    }
    .ct_container{
    grid-template-columns: 150px 150px 150px;
    grid-template-rows:190px 190px 190px;
    }
}

@media only screen and (min-width: 768px) {
    .categories_section{
    height: 780px;
    }
    .ct_container{
    grid-template-columns: 150px 150px 150px 150px ;
    grid-template-rows:190px 190px 190px;
    }
}

@media only screen and (min-width: 992px) {
    .categories_section{
    height: 600px;
    }
    .ct_container{
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows:190px 190px;
    }
}

@media only screen and (min-width: 1024px) {
    .categories_section{
    height: 550px;
    }
    .ct_container{
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows:190px 190px;
    }
}

@media only screen and (min-width: 1200px) {
.cover_section{
        height: 600px;
    }
.c_container{
    height: 300px;
    }
.c_upper h1{
    font-size: 4rem;
    }
.c_upper p{
    margin-top: 10px;
    font-size: 1.2rem;
    }
.c_lower{
    width: 420px;
    }
.c_button{
    width: 200px;
    height: 50px;
    font-size: 1em;
    }
.wave_container{
    height: 100px;
    }
.wave_container img{
height: 100px;
    }
.categories_section{
    height: 650px;
    }

.ct_container{
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows:190px 190px;
}

.categories_section .ct_header{
    margin-top:15px;
    font-size:2rem;
}
