.body_section{
    position: relative;
    display: flex;
    height: 500px;
    width: 100%;
    padding: 20px ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.headings{
    display: flex;
    width: 100%;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 40px;
}

.headings h2{
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.f_container{
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 20px;
    background-color: #CCCCCC;
/* */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.f_container .textbox{
    border: 1px solid #999999;
    width: 100%;
    border-radius: 4px;
    height: 2rem;
    padding-left: 8px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.caption{
    text-transform:uppercase;
    width: 100%;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.button{
   
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: #663399;
    color: #fff;
    border: 0px;
}
.button:hover{
    border: 2px solid #663399; 
    background-color: transparent;
    color: #663399;
}

.f_container p{ 
    font-size: 0.9rem;
    margin-top: 10px;
}

.f_container a{
/*    font-style: italic;*/
    color: #663399 !important;
    cursor: pointer;
    font-weight: bold;
    
}

/*Tablet*/

@media all and (min-width: 600px) {

.f_container{
    
    width:300px;
}

}

/*Desktop*/
@media all and (min-width: 900px) {
    



    
}


