:root{
    --pcolor:hsla(350,70%,50%,1);
    --pcolordark:hsla(350,70%,35%,1);
    --pcolordarker:hsla(350,70%,30%,1);
    --scolor:hsla(43,90%,50%,1);
    --success_color:rgb(0,255,0,1);
}
 
input{
    border: 0px solid hsla(0,100%,10%,0.3);
    border-radius: 0px 4px 4px 0px;
    height: 2.4rem;
    padding: 8px 8px;
    font-size: 0.9rem;
}

input:focus{
     box-shadow:0px 0px 5px 0px var(--pcolor);
     border: 0px;
     outline: 0px;
}

.body_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    padding-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.heading{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.heading h1{
    letter-spacing: 1px;
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    margin: 0px;
    color: var(--pcolor);
}

.fcontainer{
    height: 121.8px;
    width: 300px;
    
    border: 0px ;
    border-radius: 6px;
    
    display: flex;
    margin-top: 30px;
    background: var(--pcolor);
    
    flex-direction: column;
    padding: 15px;
    
    justify-content: space-between;
    
}

.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    background-color: var(--pcolordark);
    height: 2.4em;
    padding: 9px;
    border-radius: 4px 0px 0px 4px;
}

.icon{
    width: 100%;
    height: 100%;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.w100{
    width: 100%;
}

.button{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 120px;
    font-size: var(--button_font_size);
    height: 40px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: var(--pcolor);
    color: #fff;
    border: 0px;
}

.button:hover{
    border: 2px solid var(--pcolor); 
    background-color: transparent;
    color: var(--pcolor);
}
.button:focus{
    outline: 0px;
}

.body_section a{
    color: var(--pcolor);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

/*Tablet*/

@media all and (min-width: 600px) {

}

/*Desktop*/
@media all and (min-width: 900px) {
    



    
}


