:root{
    --pcolor:hsla(350,70%,50%,1);
    --pcolordark:hsla(350,70%,35%,1);
    --pcolordarker:hsla(350,70%,30%,1);
    --scolor:hsla(43,90%,50%,1);
}

input[type=text]{
    border: 1px solid var(--pcolor);
    border-radius: 4px;
    height: 2.4rem;
    padding: 8px 8px;
    font-size: 0.9rem;
    width: 100%;
}

input[type=text]:focus{
     box-shadow:0px 0px 5px 0px var(--pcolor);
     outline: 0px;
}

.body_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 550px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}
 

.fcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
}
 

.fheader{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.fheader p{
    font-weight: bold;
    margin: 0px;
    color: var(--pcolor);
}

.caption{
    width: 100%;
    line-height: 2rem;
}



.inner_container .textbox:focus{
    -webkit-box-shadow:0px 0px 8px 0px var(--pcolor);
    box-shadow:0px 0px 8px 0px var(--pcolor);
}
.inner_container .textbox:focus{
    outline: 0px;
}

.inner_container .w50{
    width: 49%;   
}
.inner_container .w100{
    width: 100%;
}


.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
/*    flex-direction: column;*/
    margin: 5px 0px;
}

.button{
   
    display: flex;
    align-content: center;
    justify-content: center;
    width: 120px;
    font-size: var(--button_font_size);
    height: 40px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: var(--pcolor);
    color: #fff;
    border: 0px;
}
.button:hover{
    border: 2px solid var(--pcolor); 
    background-color: transparent;
    color: var(--pcolor);
}

.button:focus{
    outline: 0px;
}


/*Tablet*/

@media all and (min-width: 600px) {
    .fcontainer{
        
    }
}

/*Desktop*/
@media all and (min-width: 900px) {
    



    
}
