
/*Resetting*/

*::after,
*::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*{ 
    box-sizing: border-box;
}
 
                    /*Global*/

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

body,p{
    margin: 0px;
    padding: 0px;
} 

:root{
    --pcolor:hsla(350,70%,50%,1);
    --pcolordark:hsla(350,70%,35%,1);
    --pcolordarker:hsla(350,70%,30%,1);
    --scolor:hsla(43,90%,50%,1);
    --success_color:rgb(0,255,0,1);
}

.body_section{
   position: relative;
    display: flex;
    width: 100%;
    min-height:400px;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}


.c_container{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product_thumb{
    position: relative;
    display: flex;
    border: 1px solid #999999;
    margin: 15px 5px 15px;
    width:  200px;
    height: 300px;
/*    background-color: #CCCCCC;*/
    border-radius: 6px ;
    flex-direction: column;
    overflow: hidden;
    
}
.pro_img{
    height: 200px;
    width: 100%;
}

.pro_button{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    background-color: hsla(350,70%,50%,0.04);
}

.pro_button.primary{
    display: flex;
    
}

.pro_button.primary .pro_title{
    display: flex;
    height: 40px;
    width: 65%;
    padding:0px 0px 0px 10px;
    justify-content: flex-start;
    align-items: center;
    
}
.pro_button.primary .pro_price{
    height: 40px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro_button.secondary{
    display: flex;
    font-size: 0.9em;
}



.pro_button.secondary .pro_desc{
    color: var(--pcolor);
    height: 40px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    
}

.pro_button.secondary .pro_desc:hover{
    color: var(--pcolordark);
}


.pro_button.secondary .add{
    color: #fff;
    display: flex;
    height: 40px;
    width: 65%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    background-color:  var(--pcolor);
}

.pro_button.secondary .add:hover{
    background-color:  var(--pcolordark);
    
}
/*

.f_container .textbox{
    border: 1px solid #663399;
    width: 100%;
    border-radius: 4px;
    height: 2rem;
    padding-left: 8px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.caption{
    text-transform:uppercase;
    width: 100%;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.button{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: #663399;
    color: #fff;
    border: 0px;
}


.button:hover{
    border: 2px solid #663399; 
    background-color: transparent;
    color: #663399;
}
*/


/*Tablet*/

/*
@media all and (min-width: 600px) {

.f_container{
    
    width:300px;
}

}
*/

/*Desktop*/
/*
@media all and (min-width: 900px) {
    



    
}
*/


